{% extends 'base.html' %}
{% load static %}

{% block title %}Home - Fur Fun{% endblock %}

{% block content %}
    <section id="welcome">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h2 class="welcome-heading">Welcome to Fur Fun!</h2>
                    <p>Your one-stop shop for all your pet needs.</p>
                    <a href="#" class="btn btn-primary">Enter the Site</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
