{% extends 'base.html' %}

{% block content %}
    <h1>User Profiles</h1>
    <div class="profiles-container">
        {% if profiles %}
            <ul>
                {% for profile in profiles %}
                    <li>
                        <h2>{{ profile.user.username }}</h2>
                        <p>Email: {{ profile.user.email }}</p>
                       
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No profiles found.</p>
        {% endif %}
    </div>
{% endblock %}
