{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <!-- Checkout Form -->
            <div class="col-md-6">
                <form action="{% url 'checkout' %}" method="POST" id="checkout-form">
                    {% csrf_token %}
                    {% crispy order_form %}

                </form>
            </div>

            <!-- Order Summary -->
            <div class="col-md-6">
                <div class="order-summary-container"> 
                    <h2>Order Summary</h2>
                    <p>Order Number: {{ latest_order.order_number }}</p>
                    <p>Order Total: £{{ cart_total|floatformat:2 }}</p>
                    <p>Delivery Cost: {{ latest_order.delivery_cost }}</p>
                    <p>Grand Total: £{{ cart_total|floatformat:2 }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Stripe Payment Element Container -->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="card-element"></div> <!-- Update ID to match JavaScript -->
                <div id="card-errors" role="alert"></div>
            </div>
        </div>
    </div>
    
    <!-- Complete Order Button -->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <button type="button" id="complete-order-btn" class="btn btn-primary">Complete Order</button>
            </div>
        </div>
    </div>

    <div id="loading-overlay">
        <h1 class="text-light logo-font loading-spinner">
            <span class="icon">
                <i class="fas fa-3x fa-sync-alt fa-spin"></i>
            </span>
        </h1>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var completeOrderBtn = document.getElementById('complete-order-btn');
            completeOrderBtn.addEventListener('click', function() {
                document.getElementById('checkout-form').submit();
            });
        });
    </script>
{% endblock %}
