
body {
    background-color: #D2B48C;
}

header {
    background-color: #b96f2a; /* Brown */
    color: #fff; /* White */
    padding: 20px;
    text-align: center;
    height: 100%;
    position: relative;
    max-height: 200px;
}


.logo {
    position: absolute; 
    top: 10px; /* Adjust the top position as needed */
    left: 10px; /* Adjust the left position as needed */
}

.logo img {
    max-width: 100% !important; /* Ensure the logo image fills the container width */
    max-height: 150px; /* Set a maximum height for the logo */
}


header h1 a {
    color: #fff; /* White */
    font-family: "Madimi One", sans-serif;
    font-size: 60px;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    margin-top: 20px;
}


.social-icons {
    display: flex; /* Use flexbox to arrange icons vertically */
    padding: 0;
    margin: 0;
}

.social-icons li {
    margin-bottom: 10px; /* Adjust spacing between icons */
}

.social-icons li a {
    font-size: 40px; /* Adjust the size of the icons */
    letter-spacing: 30px;
    color: #ffffff; /* Change the color of the icons */
    transition: color 0.3s ease; /* Add smooth transition for color change */
}

.social-icons li a:hover {
    color: #f79000; /* Change color on hover */
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: #fff; /* White */ 
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f79000; /* Orange */
}

.header-container {
    display: flex;
    align-items: center;

}

.navbar-nav {
    margin-top: 10px;
}

.navbar {
    justify-content: center;
}

.navbar-nav .nav-link {
    color: white;
}

.navbar-nav .nav-link:hover {
    color: orange;
}

#carouselExampleAutoplaying {
    max-width: 100%; /* Set maximum width to 100% */
    margin: 0 auto; /* Center the carousel horizontally */
}

#carouselExampleAutoplaying .carousel-inner .carousel-item img {
    width: 100%; /* Set a fixed width */
    height: auto; /* Set a fixed height */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}

.account-link,
.shopping-bag-link {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fefefe; /* Adjust color as needed */
    text-decoration: none; /* Remove underline */
    font-size: 14px; /* Adjust font size as needed */
}

.account-link i,
.shopping-bag-link i {
    display: block;
    margin: 0 auto 5px; /* Adjust margin as needed */
    font-size: 30px; /* Adjust icon size as needed */
}
.account-link {
    right: 10px; /* Adjust as needed */
}

.shopping-bag-link {
    right: 100px; /* Adjust as needed */
}

.product-container {
    display: flex;
    justify-content: center;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    overflow: hidden;
    width: auto;
    width: 300px; 
    height: 350px; 
    margin: 10px;
}

.product-card img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: contain;
}




/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}


/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}

@media (max-width: 767px) {
    header h1 {
        display: none;
    }
    .logo {
        display: none;
    }
}

/* Hide the header on medium screens */
@media (min-width: 768px) and (max-width: 991px) {
    .logo {
        display: none;
    }
    
}

.about-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.section-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    margin-bottom: 20px;
}

.section-description {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 15px;
}

.highlight-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

.highlight-list {
    list-style-type: decimal;
    margin-left: 20px;
}

.highlight-item {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 10px;
}


.toast-container {
    position: fixed;
    top: 20px; /* Adjust the top position as needed */
    right: 100px; /* Adjust the right position as needed */
    z-index: 1000; /* Ensure the toast appears above other content */
}


.toast {
    background-color: #f8d7da; 
    border-color: #f5c6cb; /* Dark red for error */
    color: #721c24; /* Dark text color */
}

.toast.toast-success {
    background-color: #d4edda; /* Light green for success */
    border-color: #c3e6cb; /* Dark green for success */
    color: #155724; /* Dark text color */
}

.toast.toast-warning {
    background-color: #fff3cd; /* Light yellow for warning */
    border-color: #ffeeba; /* Dark yellow for warning */
    color: #856404; /* Dark text color */
}

.toast.toast-info {
    background-color: #d1ecf1; /* Light blue for info */
    border-color: #bee5eb; /* Dark blue for info */
    color: #0c5460; /* Dark text color */
}


.toast-header {
    display: flex;
    justify-content: flex-start; /* Align items to the left */
    background-color: #f8f8f8; /* Light red for error */
    border-color: #f5c6cb; /* Dark red for error */
    color: #721c24; /* Dark text color */
}

.toast-header .me-auto {
    margin-right: auto; /* Push the title to the left */
}
