html {
    height: 100%;
}

body {
    background-color: #D2B48C;
}

header {
    background-color: #b96f2a; /* Brown */
    color: #fff; /* White */
    padding: 20px;
    text-align: center;
    height: 100%;
}

header h1 a {
    color: #fff; /* White */
    font-family: "Madimi One", sans-serif;
    font-size: 48px;
    text-decoration: none;
}

footer {
    background-color: #b96f2a;
    color: #fff;
    padding: 20px 0;
}


.social-icons {
    display: flex; /* Use flexbox to arrange icons vertically */
    align-items: center; /* Center icons horizontally */
    padding: 0;
    margin: 0;
}

.social-icons li {
    margin-bottom: 10px; /* Adjust spacing between icons */
}

.social-icons li a {
    font-size: 40px; /* Adjust the size of the icons */
    letter-spacing: 30px;
    color: #ffffff; /* Change the color of the icons */
    transition: color 0.3s ease; /* Add smooth transition for color change */
}

.social-icons li a:hover {
    color: #f79000; /* Change color on hover */
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: #fff; /* White */ 
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f79000; /* Orange */
}

#carouselExampleAutoplaying {
    max-width: 100%; /* Set maximum width to 100% */
    margin: 0 auto; /* Center the carousel horizontally */
}

#carouselExampleAutoplaying .carousel-inner .carousel-item img {
    width: 100%; /* Set a fixed width */
    height: auto; /* Set a fixed height */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}

.account-link {
    position: absolute;
    top: 60px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fefefe; /* Adjust color as needed */
    text-decoration: none;
    font-size: 14px; /* Adjust font size as needed */
}

.account-link i {
    font-size: 30px; /* Adjust icon size as needed */
}


.logo {
    float: left; /* Align the logo to the left */
}

.logo img {
    max-width: 100% !important; /* Ensure the logo image fills the container width */
    max-height: 120px; /* Set a maximum height for the logo */
    height: auto; /* Maintain aspect ratio */
}
