body {
    font-family: 'Montserrat', sans-serif;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
}
.lead {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
}

.custom-form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.custom-form .form-group {
    margin-bottom: 20px;
}

.custom-form label {
    font-weight: bold;
    color: #333;
}

.custom-form input[type="text"],
.custom-form input[type="email"],
.custom-form input[type="tel"],
.custom-form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.custom-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.custom-form button:hover {
    background-color: #0056b3;
}

.order-summary-container {
    background-color: #404040; /* Slate grey background */
    color: #fff; /* White text */
    padding: 20px;
    margin-bottom: 20px;
}


.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

/* checkout.css */

/* Header Container */
.header-container {
    padding: 20px 0;
  }
  
  /* Overlay */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none; 
  }
  
  
  .order-summary-container h2 {
    margin-bottom: 10px;
  }
  
  /* Checkout Form */
  #checkout-form {
    margin-bottom: 20px;
  }
  
  #checkout-form .form-group {
    margin-bottom: 20px;
  }
  
  #checkout-form label {
    font-weight: bold;
  }
  
  /* Stripe Payment Element Container */
  #card-element {
    margin-bottom: 20px;
  }
  
  /* Loading Overlay */
  #loading-overlay {
    display: none;
    position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(94, 91, 91, 0.85);
      z-index: 9999;
  }
  
  .loading-spinner {
    display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      height: 100%;
  }
  

  #checkout-form input[type="text"],
  #checkout-form input[type="email"],
  #checkout-form input[type="tel"],
  #checkout-form select {
      border-radius: 8px;
      border: 1px solid #ccc;
      padding: 10px;
      margin-bottom: 15px;
      width: 100%;
      box-sizing: border-box;
  }
  
  #checkout-form input[type="text"]:focus,
  #checkout-form input[type="email"]:focus,
  #checkout-form input[type="tel"]:focus,
  #checkout-form select:focus {
      outline: none;
      border-color: #007bff;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  #checkout-form input[type="checkbox"] {
      margin-right: 5px;
  }
  
  #complete-order-btn {
      border-radius: 8px;
      padding: 12px 24px;
      background-color: #007bff;
      color: #fff;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }
  
  #complete-order-btn:hover {
      background-color: #0056b3;
  }

  #card-element {
    margin-top: 20px;
  }

  /* Styles for Thank You page */
  .thank-you-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .thank-you-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
  }
  
  .order-details, .order-items, .total-amount, .confirmation-email {
    margin-bottom: 30px;
  }
  
  .order-details h2, .order-items h2, .total-amount, .confirmation-email {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .order-items ul {
    padding-left: 20px;
  }
  
  .order-items li {
    font-size: 18px;
    margin-bottom: 10px;
    color: #666;
  }
  
  .total-amount {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .confirmation-email {
    font-size: 18px;
    color: #666;
  }

  .submit-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submit-button a,
.submit-button button {
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.submit-button button {
    background-color: #333;
    color: #fff;
}

.submit-button a:hover,
.submit-button button:hover {
    background-color: #555;
}

.submit-button a {
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
}

.submit-button a:hover {
  background-color: #f0f0f0;
}


.fieldset-label,
.form-check-label {
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    margin-bottom: 15px;
}


.submit-button {
    margin-top: 20px;
}
