body {
    font-family: 'Montserrat', sans-serif;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
}
.lead {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
}

.custom-form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.custom-form .form-group {
    margin-bottom: 20px;
}

.custom-form label {
    font-weight: bold;
    color: #333;
}

.custom-form input[type="text"],
.custom-form input[type="email"],
.custom-form input[type="tel"],
.custom-form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.custom-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.custom-form button:hover {
    background-color: #0056b3;
}

.order-summary-container {
    background-color: #404040; /* Slate grey background */
    color: #fff; /* White text */
    padding: 20px;
    margin-bottom: 20px;
}
