{% extends 'base.html' %}

{% block title %}About Us - Fun Fun{% endblock %}

{% block heading %}Fun Fun{% endblock %}

{% block content %}
<section>
    <h2>Welcome to Fun Fun</h2>
    <p>At Fun Fun, we celebrate the unconditional love and boundless joy that our furry companions bring into our lives every day.</p>
    <p>We understand that your dog is more than just a pet; they're family. That's why we're dedicated to providing top-quality products to ensure your dog's happiness, health, and well-being.</p>
    <p>Our mission is simple: to offer a curated selection of premium dog treats, grooming essentials, toys, and health products that cater to the diverse needs and preferences of every dog and dog owner.</p>
    <p>What sets us apart?</p>
    <ol>
        <li><strong>Quality Assurance:</strong> We prioritize quality in every product we offer, sourcing from trusted suppliers and brands known for their commitment to excellence and safety.</li>
        <li><strong>Variety and Selection:</strong> Our carefully curated collection features a wide range of options to suit dogs of all breeds, sizes, and ages, ensuring there's something for every pup.</li>
        <li><strong>Expert Guidance:</strong> Need advice on the best treats for your dog's dietary needs or recommendations for grooming products tailored to their coat type? Our team of knowledgeable experts is here to help you make informed choices.</li>
        <li><strong>Customer Satisfaction:</strong> Your satisfaction is our priority. From seamless online shopping experiences to prompt customer support, we're dedicated to providing exceptional service at every step of your journey with us.</li>
        <li><strong>Community Engagement:</strong> We're more than just a shop; we're a community of passionate dog lovers. Follow us on social media for helpful tips, adorable photos, and exciting updates from the world of dogs.</li>
    </ol>
</section>
{% endblock %}

