{% extends 'base.html' %}

{% block title %}About Us - Fur Fun{% endblock %}

{% block heading %}About Fur Fun{% endblock %}

{% block content %}
<section class="about-section">
    <h2 class="section-title">Welcome to Fur Fun</h2>
    <p class="section-description">At Fur Fun, we celebrate the unconditional love and boundless joy that our furry companions bring into our lives every day.</p>
    <p class="section-description">We understand that your dog is more than just a pet; they're family. That's why we're dedicated to providing top-quality products to ensure your dog's happiness, health, and well-being.</p>
    <div class="highlights">
        <h3 class="highlight-title">What sets us apart?</h3>
        <ol class="highlight-list">
            <li class="highlight-item">Quality Assurance: We prioritize quality in every product we offer, sourcing from trusted suppliers and brands known for their commitment to excellence and safety.</li>
            <li class="highlight-item">Variety and Selection: Our carefully curated collection features a wide range of options to suit dogs of all breeds, sizes, and ages, ensuring there's something for every pup.</li>
            <li class="highlight-item">Expert Guidance: Need advice on the best treats for your dog's dietary needs or recommendations for grooming products tailored to their coat type? Our team of knowledgeable experts is here to help you make informed choices.</li>
            <li class="highlight-item">Customer Satisfaction: Your satisfaction is our priority. From seamless online shopping experiences to prompt customer support, we're dedicated to providing exceptional service at every step of your journey with us.</li>
            <li class="highlight-item">Community Engagement: We're more than just a shop; we're a community of passionate dog lovers. Follow us on social media for helpful tips, adorable photos, and exciting updates from the world of dogs.</li>
        </ol>
    </div>
</section>
{% endblock %}
